Repository pytorch/examples, pull requests merged in 2023-05, with the labels that each got.

#1145 Fix typo in README.md
  distributed/ddp-tutorial-series/README.md
Labels: cla signed

#1142 Adds torch.cuda.set_device calls to DDP examples
  distributed/ddp-tutorial-series/multigpu.py
  distributed/ddp-tutorial-series/multigpu_torchrun.py
  distributed/ddp-tutorial-series/multinode.py
  distributed/minGPT-ddp/mingpt/main.py
Labels: bug, cla signed, distributed

#1019 FSDP example
  distributed/FSDP/.gitignore
  distributed/FSDP/README.md
  distributed/FSDP/T5_training.py
  distributed/FSDP/configs/__init__.py
  distributed/FSDP/configs/fsdp.py
  distributed/FSDP/configs/training.py
  distributed/FSDP/download_dataset.sh
  distributed/FSDP/model_checkpointing/__init__.py
  distributed/FSDP/model_checkpointing/checkpoint_handler.py
  distributed/FSDP/policies/__init__.py
  distributed/FSDP/policies/activation_checkpointing_functions.py
  distributed/FSDP/policies/mixed_precision.py
  distributed/FSDP/policies/wrapping.py
  distributed/FSDP/requirements.txt
  distributed/FSDP/summarization_dataset.py
  distributed/FSDP/utils/__init__.py
  distributed/FSDP/utils/environment.py
  distributed/FSDP/utils/train_utils.py
Labels: cla signed, distributed, new example, training

#1155 Update imports
  distributed/minGPT-ddp/mingpt/main.py
Labels: cla signed
